<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div align="right">
	<a th:href="@{/Logout}">Logout</a>
</div>
<h1 th:text="${'Welcome ' + session.user.username + ' to the Admin page'}"></h1>
<div align="left">
	<p><a th:href="@{/Creation}">Insert a product</a></p>
	<p th:text=" ${insertionMessage}"></p>
	<p><a th:href="@{/Inspection}">Inspect questionnaire</a></p>
	<p><a th:href="@{/Deletion}">Delete a questionnaire</a></p>
	<p></p>
</div>
</body>
</html>