<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" media="all" href="../css/style.css" th:href="@{/css/style.css}" />	
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>
<body>
	<table width="100%">
		<tr>
			<td width="70%">
				<h1 th:text="${'Welcome ' + session.user.username + ' to the Admin page'}"></h1>
			</td>
			<td width="30%" style="text-align: right">
				<a th:href="@{/Logout}">Logout</a>
			</td>
		</tr>
	</table>

	<p><a th:href="@{/Creation}">Insert a product</a></p>
	<p th:text=" ${insertionMessage}" class="okMessage"></p>
	<p><a th:href="@{/Inspection}">Inspect questionnaire</a></p>
	<p><a th:href="@{/Deletion}">Delete a questionnaire</a></p>
</body>
</html>