<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>
<body>
	<h1>Questionnaire</h1>
	<fieldset>
		<form action="#" id="questionnaire" th:action="@{/Questionnaire}" method="POST">
			<table>
				<thead>
					<tr>
						<th>Number</th>
						<th>Question</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="p,i : ${product.getMarketingQuestions()}">
						<td><p th:text="${i.index+1}"></p></td>
						<td><p th:text="${p.getQuestion()}"></p>
							<textarea th:name="'quest' + ${i.index}" rows="2" cols="40" th:text="${response.getResponseMarketingById(i.index)}"></textarea>
						</td>
					</tr>
				</tbody>
			</table>
			<input type="Submit" name="StatQuestions" value="Go to statistical questions">
		</form>
		<button th:onclick="'location.href=\'' + @{/DeleteQuestionnaire} + '\''" >Cancel all</button>
	</fieldset>
</body>
</html>