<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" media="all" href="../css/style.css" th:href="@{/css/style.css}" />	
	<meta charset="ISO-8859-1">
	<title>User answer inspection page</title>
</head>
<body>
	<table width="100%">
		<tr>
			<td width="70%">
				<h1>Welcome to the User answer inspection page</h1>
			</td>
			<td width="30%" style="text-align: right">
				<a th:if="${qResponse != null}" th:href="@{/UsersQuestionnaireInspection(ID=${qResponse.getProduct().getId()})}">Back</a>
				<a th:href="@{/Home}">Home</a>
				<a th:href="@{/Logout}">Logout</a>
			</td>
		</tr>
	</table>
	<div th:if="${qResponse != null}">
		<h4 th:text="'The answer of the user: ' + ${user} + ' to the product: ' + ${name} + ' in date: ' +  ${date}"></h4>
		<fieldset>
			<table width="100%">
				<thead>
					<tr>
						<th width="80%" style="border-top: 1px solid black">Questionnaire Responses</th>
						<th width="20%" style="border-top: 1px solid black">Statistical Answers</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td style="border-top: 1px solid black">
							<table width = "100%">
								<tr th:each="q, i : ${markAns}">
									<td align="center">
										<table>
											<tr>
												<td valign="top">
													<span>Question <span th:text = "${i.index + 1}"></span>:</span>
												</td>
												<td>
													<span th:utext = "${q.getQuestion().getQuestion().replaceAll('\r\n', '<br>')}"></span>
												</td>
											</tr>
										</table>
										<table>
											<tr>
												<td valign="top">
													<span>Answer: </span>
												</td>
												<td>
													<span th:utext = "${q.getAnswer().replaceAll('\r\n', '<br>')}"></span>
												</td>
											</tr>
										</table>
										<br>
									</td>
								</tr>
							</table>
						</td>
						<td  style="border-top: 1px solid black">
							<table width = "100%">
								<tr>
									<td th:if="${statAns.getQ1() == null}">Age: Not specified</td>
									<td th:if="${statAns.getQ1() != null}" th:text="'Age: ' + ${statAns.getQ1()}"></td>
								</tr>
								<tr>
									<td th:if="${statAns.getQ2() == null}">Sex: Not specified</td>
									<td th:if="${statAns.getQ2() == 1}">Sex: male</td>
									<td th:if="${statAns.getQ2() == 2}">Sex: female</td>
									<td th:if="${statAns.getQ2() == 3}">Sex: undefined</td>
								</tr>
								<tr>
									<td th:if="${statAns.getQ3() == null}">Experience: Not specified</td>
									<td th:if="${statAns.getQ3() == 1}">Experience: low</td>
									<td th:if="${statAns.getQ3() == 2}">Experience: medium</td>
									<td th:if="${statAns.getQ3() == 3}">Experience: high</td>
								</tr>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</fieldset>
	</div>
	<h4 th:if="${qResponse == null}" class="ErrorMessage">The specified user does not have any response for that questionnaire.</h4>
</body>
</html>